<p>Write a <strong>for </strong>loop that iterates over the <strong>x </strong>list and prints out all the elements of the list.</p>

In [ ]:
x = [10, 12, 13, 14, 17, 19, 21, 22, 25]

for i in x:
  print(i)

10
12
13
14
17
19
21
22
25

<p>Write a <strong>for </strong>loop that iterates over the <strong>x </strong>list and prints out the remainders of each element of the list divided by 3.</p>

In [ ]:
x = [10, 12, 13, 14, 17, 19, 21, 22, 25]

for i in x:
  print(i % 3 )

1
0
1
2
2
1
0
1
1

<p>Write a <strong>for </strong>loop that iterates over the <strong>x </strong>list and prints out all the elements of the list in reversed order and multiplied by 10.</p>

In [ ]:
x = [10, 12, 13, 14, 17, 19, 21, 22, 25]
x.reverse()

for i in x:
  print(i * 10)

250
220
210
190
170
140
130
120
100

In [ ]:
x = [10, 12, 13, 14, 17, 19, 21, 22, 25]
for i in sorted(x, reverse = True):
  print(i * 10)

250
220
210
190
170
140
130
120
100

<p>Write a <strong>for </strong>loop that iterates over the <strong>x </strong>list and prints out all the elements of the list divided by 2 and the string<strong> Great job! </strong>after the list is exhausted.</p>

In [ ]:
x = [10, 12, 13, 14, 17, 19, 21, 22, 25]

for i in x:
  print(i / 2)
else:
  print("Great Job")

5.0
6.0
6.5
7.0
8.5
9.5
10.5
11.0
12.5
Great Job

<p>Write a <strong>for </strong>loop that iterates over the <strong>x </strong>list and prints out the index of each element.</p>

In [ ]:
x = [10, 12, 13, 14, 17, 19, 21, 22, 25]

for i in x:
  print(f"{i} elemanın indexi {x.index(i)}")

10 elemanın indexi 0
12 elemanın indexi 1
13 elemanın indexi 2
14 elemanın indexi 3
17 elemanın indexi 4
19 elemanın indexi 5
21 elemanın indexi 6
22 elemanın indexi 7
25 elemanın indexi 8

<p>Write a <strong>while </strong>loop that prints out the value of <strong>x </strong>squared while <strong>x </strong>is less than or equal to 5. Be careful not to end up with an infinite loop!</p>

In [ ]:
x = 0
while x <= 5 :
  print(x**2)
  x += 1

0
1
4
9
16
25

<p>Write a <strong>while </strong>loop that prints out the value of <strong>x </strong>times 10 while <strong>x </strong>is less than or equal to 4 and then prints out <strong>Done!</strong> when <strong>x </strong>becomes larger than 4. Be careful not to end up with an infinite loop!</p>

In [ ]:
x = 0
while x <= 4:
  print(x * 10)
  x += 1
else:
  print("done")

0
10
20
30
40
done

In [ ]:
x = 0
while x <= 4:
  print(x * 10)
  x += 1
print("done")

0
10
20
30
40
done

<p>Write a <strong>while </strong>loop that prints out the value of <strong>x </strong>plus 10 while <strong>x </strong>is less than or equal to 15 and the remainder of <strong>x </strong>divided by 5 is 0. Be careful not to end up with an infinite loop!</p>

In [ ]:
x = 10

while x <= 15 and x % 5 == 0:
  print(x + 10)
  x += 1

20

<p>Write a <strong>while </strong>loop that prints out the absolute value of <strong>x </strong>while <strong>x </strong>is negative. Be careful not to end up with an infinite loop!</p>

In [ ]:
x = -7

while x<0:
  print(abs(x))
  x += 1

7
6
5
4
3
2
1

<p>Write a <strong>while </strong>loop that prints out the value of <strong>x </strong>times <strong>y </strong>while <strong>x </strong>is greater than or equal to 5 and less than 10, and prints out the result of <strong>x </strong>divided by <strong>y </strong>when <strong>x </strong>becomes 10. Be careful not to end up with an infinite loop!</p>

In [ ]:
x = 5
y = 2

while x >= 5 and x < 10:
  print(x * y)
  x += 1
else:
  print(x / y)

10
12
14
16
18
5.0

<p>Write code that will iterate over the <strong>x </strong>list and multiply by 10 only the elements that are greater than 20 and print them out to the screen.</p>
<p><em>Hint: use nesting!</em></p>

In [ ]:
x = [10, 12, 13, 14, 17, 19, 21, 22, 25]

for i in x:
  if i > 20:
    print(i * 10)

210
220
250

In [ ]:

print([i * 10 for i in x if i > 20])  # tek satır çözümü

210 220 250

<p>Write code that will iterate over the <strong>x </strong>and <strong>y </strong>lists and multiply each element of <strong>x </strong>with each element of <strong>y</strong>, also printing the results to the screen.</p>
<p><em>Hint: use nesting!</em></p>

In [ ]:
x = [2, 4, 6]
y = [5, 10]

for i in x:
  for j in y:
    print(i * j)

10
20
20
40
30
60

In [ ]:
x = [2, 4, 6]
y = [5, 10]

print([i * j for i in x for j in y])  # Tek satır çözümü

[10, 20, 20, 40, 30, 60]

<p>Write code that will iterate over the <strong>x </strong>and <strong>y </strong>lists and multiply each element of <strong>x </strong>with each element of <strong>y </strong>that is less than 12, also printing the results to the screen.</p>
<p><em>Hint: use nesting!</em></p>

In [ ]:
x = [2, 4, 6, 8]
y = [5, 10, 15, 20]

for i in x:
  for j in y:
    if j < 12:
      print(i * j)

10
20
20
40
30
60
40
80

<p>Write code that will iterate over the <strong>x </strong>and <strong>y </strong>lists and multiply each element of <strong>x </strong>that is greater than 5<strong> </strong>with each element of <strong>y </strong>that is less than 12, also printing the results to the screen.</p>

In [ ]:
x = [2, 4, 6, 8]
y = [5, 10, 15, 20]

for i in x:
  for j in y:
    if (i > 5) & (j < 12):
      print(i * j)

30
60
40
80

In [ ]:
# 2.çözüm
x = [2, 4, 6, 8]
y = [5, 10, 15, 20]
for i in x:
  for j in y:
    if i > 5 and j < 12:
      print(i * j)

30
60
40
80

<p>Write code that will iterate over the <strong>x </strong>and <strong>y </strong>lists and multiply each element of <strong>x </strong>with each element of <strong>y </strong>that is less than or equal to 10, also printing the results to the screen. For <strong>y</strong>'s elements that are greater than 10, multiply each element of <strong>x </strong>with <strong>y </strong>squared.</p>

In [ ]:
x = [2, 4, 6, 8]
y = [5, 10, 15, 20]

for i in x:
  for j in y:
    if j <= 10:
      print(i * j)
    else:
      print(i * j ** 2)  # işlem önceliği ** işleminde olduğundan paranteze almaya gerek yok.

10
20
450
800
20
40
900
1600
30
60
1350
2400
40
80
1800
3200

<p>Write code that will print out each character in <strong>x </strong>doubled if that character is also inside <strong>y</strong>.</p>

In [ ]:
x = "cryptocurrency"
y = "blockchain"

for i in x:
  if i in y :
    print(i * 2)

cc
oo
cc
nn
cc

<p>Write code that will iterate over the range generated by <strong>range(9)</strong> and for each element that is between 3 and 7 inclusively print out the result of multiplying that element by the second element in the same range.</p>

In [ ]:
my_range = range(9)

for i in my_range:
  if 3 <= i < 7:
    print(i * my_range[1])

3
4
5
6

<p>Write code that will iterate over the range starting at 1, up to but not including 11, with a step of 2, and for each element that is between 3 and 8 inclusively print out the result of multiplying that element by the last element in the same range. For any other element of the range (outside [3-8]) print <strong>Outside!</strong></p>

In [ ]:
for i in range(1,11,2):
  if 3 <= i < 8:
    print(i * range(1,11,2)[-1])

27
45
63

<p>Write code that will iterate over the range starting at 5, up to but not including 25, with a step of 5, and for each element that is between 10 and 21 inclusively print out the result of multiplying that element by the second to last element of the same range. For any other element of the range (outside [10-21]) print <strong>Outside! </strong>Finally, after the entire range is exhausted print out <strong>The end!</strong></p>

In [ ]:
my_range = range(5,25,5)

for i in my_range:
  if 10 <= i <21:
    print(i * my_range[-2])
  else:
    print("Outside!")
print("The End!")

Outside!
150
225
300
The End!

<p>Write a <strong>while </strong>loop that prints out the value of <strong>x </strong>times 11 while <strong>x </strong>is less than or equal to 11.&nbsp; When x becomes equal to 10, print out <strong>x is 10!</strong> Be careful not to end up with an infinite loop!</p>

In [ ]:
x = 5

while x <= 11:
  if x == 10:
    print("x is 10!")
    x += 1
  else:
    print(x * 11)
    x += 1

55
66
77
88
99
x is 10!
121

<p>Insert a <strong>break </strong>statement where necessary in order to obtain the following result:</p>

In [ ]:
#output
1
1
100
20
10

In [ ]:
x = [1, 2]
y = [10, 100]

for i in x:
    for j in y:
        if i % 2 == 0:
            print(i * j)
            break  # i = 2 ve j = 10 iken break yaptık. ve döngüden çıkarak print(j) çalıştırdı.
        print(i)
    print(j)

1
1
100
20
10

<p>Insert a <strong>break </strong>statement where necessary in order to obtain the following result:</p>

In [ ]:
# output expected
1
10
20
2
10

In [ ]:
x = [1, 2]
y = [10, 100]
# i = 1  j = 10 çıktı = 1 (break)
# i = 1  j = 100 çıktı = 1 ( burayı yazmasını istemiyoruz bundan dolayı print(j) yazmadan break ile çıkması lazım.)
for i in x:
    for j in y:
        if i % 2 == 0:
            print(i * j)
        print(i)
        break
    print(j)

1
10
20
2
10

<p>Insert a <strong>break </strong>statement where necessary in order to obtain the following result:</p>

In [ ]:
#expected output
1
1
100
10

10

In [ ]:
x = [1, 2]
y = [10, 100]

for i in x:
    for j in y:
        if i % 2 == 0:
            print(i * j)
        print(i)
    print(j)

1
1
100
20
2
200
2
100

<p>Insert a <strong>continue </strong>statement where necessary in order to obtain the following result:</p>

In [ ]:
#expected output
1
1
100
20
200
100

100

In [ ]:
x = [1, 2]
y = [10, 100]

# i = 1 j = 10 çıktı => 1
# i = 1 j = 100 çıktı => 1
# i = 2 j = 10 çıktı => 20
# Continue
# i = 2 j = 10 çıktı => print(i) satırına geçtiğinden ekrana 2 yazıyor.
# i = 2 j = 10 çıktı => 200
for i in x:
    for j in y:
        if i % 2 == 0:
            print(i * j)
            continue
        print(i)
    print(j)

1
1
100
20
200
100

<p>Insert a <strong>continue </strong>statement where necessary in order to obtain the following result:</p>

In [ ]:
#expected output
1
1
100
100

100

In [ ]:
x = [1, 2]
y = [10, 100]

for i in x:
    for j in y:
        if i % 2 == 0:
            print(i * j)
        print(i)
    print(j)

1
1
100
20
2
200
2
100