<p>Given the code below, use the correct function on line 3 in order to convert <strong>my_list</strong> to a set.</p>

In [1]:
my_list = [1, 2, 3, 4, 4, 5, 2, 9, 8, 8, 4, 3]

my_set = set(my_list)

print(type(my_set))

<class 'set'>

<p>Given the code below, use the correct function on line 3 in order to convert <strong>my_list</strong> to a frozen set.</p>

In [2]:
my_list = [1, 2, 3, 4, 4, 5, 2, 9, 8, 8, 4, 3]

my_set = frozenset(my_list)

print(type(my_set))

<class 'frozenset'>

<p>Given the code below, use the correct code on line 3 in order to verify if element <strong>10 </strong>is in <strong>my_set</strong>.</p>

In [7]:
my_set = {1, 4, 6, 5, 9, 0, 8, 3, 2, 7, 11}

check = 10 in my_set

print(check)

False

<p>Given the code below, use the correct method on line 3 in order to add the element <strong>19 </strong>to <strong>my_set</strong>.</p>

In [17]:
my_set = {1, 4, 6, 5, 9, 0, 8, 3, 2, 7, 11}

my_set.add(19)

print(my_set)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 19}

<p>Given the code below, use the correct method on line 3 in order to delete the element <strong>9 </strong>from <strong>my_set</strong>.</p>

In [10]:
my_set = {1, 4, 6, 5, 9, 0, 8, 3, 2, 7, 11}

my_set.remove(9)

my_set.discard(9) # ikinci yontem

print(my_set)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 11}

<p>Given the code below, use the correct method on line 4 in order to find out the common elements of <strong>my_set1 </strong>and <strong>my_set2</strong>.</p>

In [11]:
my_set1 = {1, 4, 6, 5, 9, 0, 8, 3, 2, 7, 11}
my_set2 = {12, 9, 4, 2, 0, 6}

common = my_set1.intersection(my_set2)

my_set1 & my_set2 # ikinci yontem

print(sorted(list(common)))

[0, 2, 4, 6, 9]

<p>Given the code below, use the correct method on line 4 in order to join the elements of <strong>my_set1 </strong>and <strong>my_set2</strong>.</p>

In [12]:
my_set1 = {1, 4, 6, 5, 9, 0, 8, 3, 2, 7, 11}
my_set2 = {12, 9, 4, 2, 0, 6}

join = my_set1.union(my_set2)

join = my_set1 | my_set2 # ikinci yontem

print(sorted(list(join)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 12]

<p>Given the code below, use the correct method on line 4 in order to find out the elements of <strong>my_set2</strong> that are not members of <strong>my_set1</strong>.</p>

In [13]:
my_set1 = {1, 4, 6, 5, 9, 0, 8, 3, 2, 7, 11}
my_set2 = {12, 9, 4, 2, 0, 6}

diff = my_set2.difference(my_set1)

diff = my_set2 - my_set1 # ikinci yontem

print(sorted(list(diff)))

[12]